{% extends "base.html" %}

{% block inside_right %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h1>建立學生帳號</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
     
        <p>
            {{ form.class_name.label }}<br>
            {{ form.class_name }}<br>
            {% for error in form.class_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_of_birth.label }}<br>
            {{ form.date_of_birth(size=32) }}<br>
            {% for error in form.date_of_birth.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.father_name.label }}<br>
            {{ form.father_name(size=32) }}<br>
            {% for error in form.father_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mother_name.label }}<br>
            {{ form.mother_name(size=32) }}<br>
            {% for error in form.mother_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}