{% extends 'base.html' %}

{% block title %}{{ current_user.name }}{% endblock %}

{% block inside_right %}
    {% if data %}
    <div class="container">   
        <div>
            <form action="{{ url_for('main.roll_call_index') }}">            
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">出席</th>
                            <th scope="col">姓名</th>
                            <th scope="col">班級</th>
                            <th scope="col">學號</th>
                            <th scope="col">課堂名稱</th>
                            <th scope="col">時間</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for key in data%}
                        <tr>
                            <td>
                                {% if data[key]["attend"]==True%}
                                    是                                    
                                {% else %}
                                    否
                                {% endif %}
                            </td>
                            <td>
                                {{ data[key]["student_name"] }}
                            </td>                        
                            <td>
                                {{ data[key]["class_name"] }}
                            </td>
                            <td>
                                {{ data[key]["student_id"] }}
                            </td>
                            <td>
                                {{ data[key]["course_name"] }}
                            </td>
                            <td>
                                {{ data[key]["date"] }}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>        
        
      </div>
        
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/roll-call.js') }}"></script>
{% endblock %}